Catbert.Test/Service References/CatbertService/CatbertWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="CAESDO.Services" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="CAESDO.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="CAESDO.Services">
      <s:element name="SearchNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchNewUserResult" type="tns:ArrayOfServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceUser" nillable="true" type="tns:ServiceUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SecurityContext" type="tns:SecurityContext" />
      <s:complexType name="SecurityContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="InsertNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceUser" type="tns:ServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:CatbertUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CatbertUser">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceUser">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfServiceRole" />
              <s:element minOccurs="0" maxOccurs="1" name="Units" type="tns:ArrayOfServiceUnit" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfServiceRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceRole" nillable="true" type="tns:ServiceRole" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceRole">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceUnit" nillable="true" type="tns:ServiceUnit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceUnit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitFIS" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AssignPermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignPermissionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePermissionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PermissionExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PermissionExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PermissionExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unitFIS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUnitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unitFIS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUnitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnits">
        <s:complexType />
      </s:element>
      <s:element name="GetUnitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnitsResult" type="tns:ArrayOfServiceUnit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnitsByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnitsByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnitsByUserResult" type="tns:ArrayOfServiceUnit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesResult" type="tns:ArrayOfServiceRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesByUserResult" type="tns:ArrayOfServiceRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByApplicationResult" type="tns:ArrayOfCatbertUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCatbertUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CatbertUser" nillable="true" type="tns:CatbertUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsersByApplicationRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersByApplicationRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersByApplicationRoleResult" type="tns:ArrayOfCatbertUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPhoneNumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:SearchNewUser" />
  </wsdl:message>
  <wsdl:message name="SearchNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:SearchNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="SearchNewUserSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUser" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="AssignPermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:AssignPermissions" />
  </wsdl:message>
  <wsdl:message name="AssignPermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:AssignPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="AssignPermissionsSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="DeletePermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePermissions" />
  </wsdl:message>
  <wsdl:message name="DeletePermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePermissionsSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="PermissionExistsSoapIn">
    <wsdl:part name="parameters" element="tns:PermissionExists" />
  </wsdl:message>
  <wsdl:message name="PermissionExistsSoapOut">
    <wsdl:part name="parameters" element="tns:PermissionExistsResponse" />
  </wsdl:message>
  <wsdl:message name="PermissionExistsSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="AddUnitSoapIn">
    <wsdl:part name="parameters" element="tns:AddUnit" />
  </wsdl:message>
  <wsdl:message name="AddUnitSoapOut">
    <wsdl:part name="parameters" element="tns:AddUnitResponse" />
  </wsdl:message>
  <wsdl:message name="AddUnitSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="DeleteUnitSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUnit" />
  </wsdl:message>
  <wsdl:message name="DeleteUnitSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUnitResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUnitSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetUnitsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnits" />
  </wsdl:message>
  <wsdl:message name="GetUnitsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnitsSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetUnitsByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnitsByUser" />
  </wsdl:message>
  <wsdl:message name="GetUnitsByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnitsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnitsByUserSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetRolesByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetRolesByUser" />
  </wsdl:message>
  <wsdl:message name="GetRolesByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesByUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesByUserSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByApplication" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationRoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersByApplicationRole" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationRoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersByApplicationRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersByApplicationRoleSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="SetEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SetEmail" />
  </wsdl:message>
  <wsdl:message name="SetEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SetEmailSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:message name="SetPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SetPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="SetPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SetPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SetPhoneNumberSecurityContext">
    <wsdl:part name="SecurityContext" element="tns:SecurityContext" />
  </wsdl:message>
  <wsdl:portType name="CatbertWebServiceSoap">
    <wsdl:operation name="SearchNewUser">
      <wsdl:input message="tns:SearchNewUserSoapIn" />
      <wsdl:output message="tns:SearchNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserSoapIn" />
      <wsdl:output message="tns:InsertNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:input message="tns:VerifyUserSoapIn" />
      <wsdl:output message="tns:VerifyUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignPermissions">
      <wsdl:input message="tns:AssignPermissionsSoapIn" />
      <wsdl:output message="tns:AssignPermissionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePermissions">
      <wsdl:input message="tns:DeletePermissionsSoapIn" />
      <wsdl:output message="tns:DeletePermissionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PermissionExists">
      <wsdl:input message="tns:PermissionExistsSoapIn" />
      <wsdl:output message="tns:PermissionExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <wsdl:input message="tns:AddUnitSoapIn" />
      <wsdl:output message="tns:AddUnitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUnit">
      <wsdl:input message="tns:DeleteUnitSoapIn" />
      <wsdl:output message="tns:DeleteUnitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnits">
      <wsdl:input message="tns:GetUnitsSoapIn" />
      <wsdl:output message="tns:GetUnitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnitsByUser">
      <wsdl:input message="tns:GetUnitsByUserSoapIn" />
      <wsdl:output message="tns:GetUnitsByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input message="tns:GetRolesSoapIn" />
      <wsdl:output message="tns:GetRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesByUser">
      <wsdl:input message="tns:GetRolesByUserSoapIn" />
      <wsdl:output message="tns:GetRolesByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplication">
      <wsdl:input message="tns:GetUsersByApplicationSoapIn" />
      <wsdl:output message="tns:GetUsersByApplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplicationRole">
      <wsdl:input message="tns:GetUsersByApplicationRoleSoapIn" />
      <wsdl:output message="tns:GetUsersByApplicationRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEmail">
      <wsdl:input message="tns:SetEmailSoapIn" />
      <wsdl:output message="tns:SetEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPhoneNumber">
      <wsdl:input message="tns:SetPhoneNumberSoapIn" />
      <wsdl:output message="tns:SetPhoneNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatbertWebServiceSoap" type="tns:CatbertWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchNewUser">
      <soap:operation soapAction="CAESDO.Services/SearchNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SearchNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SearchNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="CAESDO.Services/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:InsertNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap:operation soapAction="CAESDO.Services/VerifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VerifyUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:VerifyUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="CAESDO.Services/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPermissions">
      <soap:operation soapAction="CAESDO.Services/AssignPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AssignPermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:AssignPermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePermissions">
      <soap:operation soapAction="CAESDO.Services/DeletePermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeletePermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DeletePermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermissionExists">
      <soap:operation soapAction="CAESDO.Services/PermissionExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PermissionExistsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:PermissionExistsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <soap:operation soapAction="CAESDO.Services/AddUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:AddUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUnit">
      <soap:operation soapAction="CAESDO.Services/DeleteUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnits">
      <soap:operation soapAction="CAESDO.Services/GetUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUnitsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetUnitsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitsByUser">
      <soap:operation soapAction="CAESDO.Services/GetUnitsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUnitsByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetUnitsByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="CAESDO.Services/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRolesSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetRolesSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesByUser">
      <soap:operation soapAction="CAESDO.Services/GetRolesByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRolesByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetRolesByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplication">
      <soap:operation soapAction="CAESDO.Services/GetUsersByApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsersByApplicationSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsersByApplicationSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplicationRole">
      <soap:operation soapAction="CAESDO.Services/GetUsersByApplicationRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsersByApplicationRoleSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetUsersByApplicationRoleSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmail">
      <soap:operation soapAction="CAESDO.Services/SetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetEmailSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SetEmailSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPhoneNumber">
      <soap:operation soapAction="CAESDO.Services/SetPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetPhoneNumberSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SetPhoneNumberSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CatbertWebServiceSoap12" type="tns:CatbertWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchNewUser">
      <soap12:operation soapAction="CAESDO.Services/SearchNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SearchNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap12:operation soapAction="CAESDO.Services/InsertNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertNewUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap12:operation soapAction="CAESDO.Services/VerifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VerifyUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:VerifyUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="CAESDO.Services/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPermissions">
      <soap12:operation soapAction="CAESDO.Services/AssignPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AssignPermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:AssignPermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePermissions">
      <soap12:operation soapAction="CAESDO.Services/DeletePermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeletePermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeletePermissionsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermissionExists">
      <soap12:operation soapAction="CAESDO.Services/PermissionExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PermissionExistsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:PermissionExistsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <soap12:operation soapAction="CAESDO.Services/AddUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUnit">
      <soap12:operation soapAction="CAESDO.Services/DeleteUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteUnitSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnits">
      <soap12:operation soapAction="CAESDO.Services/GetUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUnitsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUnitsSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitsByUser">
      <soap12:operation soapAction="CAESDO.Services/GetUnitsByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUnitsByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUnitsByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap12:operation soapAction="CAESDO.Services/GetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRolesSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRolesSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesByUser">
      <soap12:operation soapAction="CAESDO.Services/GetRolesByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRolesByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRolesByUserSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplication">
      <soap12:operation soapAction="CAESDO.Services/GetUsersByApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUsersByApplicationSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUsersByApplicationSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersByApplicationRole">
      <soap12:operation soapAction="CAESDO.Services/GetUsersByApplicationRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUsersByApplicationRoleSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUsersByApplicationRoleSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmail">
      <soap12:operation soapAction="CAESDO.Services/SetEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetEmailSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetEmailSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPhoneNumber">
      <soap12:operation soapAction="CAESDO.Services/SetPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetPhoneNumberSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetPhoneNumberSecurityContext" part="SecurityContext" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatbertWebService">
    <wsdl:port name="CatbertWebServiceSoap" binding="tns:CatbertWebServiceSoap">
      <soap:address location="http://localhost:1772/Catbert.Web/Services/CatbertWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CatbertWebServiceSoap12" binding="tns:CatbertWebServiceSoap12">
      <soap12:address location="http://localhost:1772/Catbert.Web/Services/CatbertWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>